<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adicionar</title>
</head>
<body>
<h1>Hello {{ name }}!</h1>
<form method='post'>
  <input placeholder="Link do vídeo." name='link'></input>
  <input type="submit" value="Enviar">
</form>
</body>
</html>
