<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editar usuário</title>
</head>
<body>
{{message}}
<form method='post'>
  Link: <input placeholder="Link" name='link' required></input>
  <br>
  Descrição: <input name='description' placeholder="Descrição"></input>
  <br>
  <br>
  <input type="submit" name="form.submitted" value="Enviar">
</form>
</body>
</html>
